# Dependencies
node_modules/
**/node_modules/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env
**/.env.local

# Production builds
build/
dist/
out/
.next/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
